/* Navbar */
nav{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:15px;
    background: #1e293b;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
    
}

.active {
    border-bottom: 2px solid #38bdf8;
}

/* Default light mode */
body{
    margin: 0;
    /* font-family: Arial, sans-serif */
    /* 'Courier New', Courier, monospace; */
    font-family:cursive; 
    background: white;
    color: black;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: none;
}
/* Dark mode */
body.dark-mode {
    background: #0f172a;
    color:white;
    cursor: none;
}


#theme-toggle {
    margin-left: 20px;
    padding: 5px 10px;
    cursor: none;
}

.hero{
    text-align: center;
    padding: 100px 20px;
}

.hero h2{
    font-size: 2.5rem;
}

.hero h3{
    font-size: 1.5rem;
    height: 30px;
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background: black;
    color: white;
}
#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

canvas {
    display: block;
}

.contact{
    /* background: #1e293b; */
    color: rgb(233, 171, 108);
    padding: 50px 20px;
    text-align: center;
}

.contact-form{
    justify-content: center;
    display: flex;
    gap: 30px;
    padding: 50px 30px;
}

a{
    text-decoration: none;
    color: #0077B5;
    font-weight: 100;
    font: bolder;
}

/* cursor styling */

.cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    background: #38bdf8;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px #38bdf8, 0 0 20px rgba(56, 189, 248, 0.6);
}

/* Cursor shine effect on hover */
.cursor.hovering{
    box-shadow: 0 0 20px #38bdf8, 0 0 35px rgba(56, 189, 248, 0.8), 0 0 45px rgba(56, 189, 248, 0.5);
    width: 14px;
    height: 14px;
}

.cursor-ring{
    position: fixed;
    width: 38px;
    height: 38px;
    border: 1.5px solid #38bdf8 ;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.56;
    transform: translate(-50%,-50%);
    transition: width 0.3s ease height 0.3s ease;
} 