{% extends "base.html" %}
{% block title %}
About Me
{% endblock %}

{% block content %}
<section class="about">
    <p>
        So… a little about me.

        I'm someone who learns best by building things.
        Sometimes it's a machine learning model.
        Sometimes it's a small web app to make that model usable.
        For example, one of my projects analyzes sentiment from 
        visual content in real time, and another explores object 
        detection to help people learn about the objects around them.
        Are they perfect? Not really.
        But every project teaches me something new about AI, problem 
        solving, and building real applications.
        And that's the part I enjoy the most.
    </p>

    <p>
        Right now I'm focused on learning more about:
       <ul class="skills-list">
            <li>Machine Learning</li>
            <li>Computer Vision</li>
            <li>Building AI-powered applications</li>
            <li>Frontend development</li>
            <li>Flutter</li>
        </ul>

    <p>
        If you're curious about what I've been building,
        take a look at the projects section.
        <a href="/projects" class="arrow">&#8594;</a>
    </p>
</section>
{% endblock %}