<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<body>
    <div id="bg-canvas"></div>
    <header> 
        <h1>Portfolio</h1>
    </header>

    {# dark mode toggle, nav bar, github link #}
    <nav>
       <a href="/" class="{% if active=='home' %}active{% endif %}">Home</a>
       <a href="/projects" class="{% if active=='projects' %}active{% endif %}">Projects</a>
       <a href="/contact" class="{% if active=='contact' %}active{% endif %}">Contact</a>

       <button id="theme-toggle">🌙</button>
    </nav>

    <main>
        {%block content%}
        {%endblock%}
    </main>
     

    <footer>
      <p>© 2026 | Srishti Shukla</p>
    </footer>

    {# Dark mode toggle #}
    <script>
        const toggleBtn = document.getElementById("theme-toggle");
        const body = document.body;
    
        toggleBtn.addEventListener("click", () => {
            body.classList.toggle("dark-mode");
    
            if(body.classList.contains("dark-mode")){
                toggleBtn.textContent = "☀️";
            } else {
                toggleBtn.textContent = "🌙";
            }
        });
    </script>

    {# Typing effect#}
    <script>
        const textArray = [
            "AI / ML Developer",
            "Python Developer",
            "Data Analyst"
        ];
    
        let typingElement = document.getElementById("typing");
        let textIndex = 0;
        let charIndex = 0;
        let isDeleting = false;
    
        function typeEffect() {
            const currentText = textArray[textIndex];
    
            if (isDeleting) {
                typingElement.textContent = currentText.substring(0, charIndex--);
            } else {
                typingElement.textContent = currentText.substring(0, charIndex++);
            }
    
            if (!isDeleting && charIndex === currentText.length) {
                setTimeout(() => isDeleting = true, 1000);
            } else if (isDeleting && charIndex === 0) {
                isDeleting = false;
                textIndex = (textIndex + 1) % textArray.length;
            }
    
            setTimeout(typeEffect, isDeleting ? 50 : 100);
        }
    
        document.addEventListener("DOMContentLoaded", typeEffect);
    </script>

    {# Three.js background animation#}
    <script>
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
        const renderer = new THREE.WebGLRenderer({ alpha: true });
        
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.getElementById("bg-canvas").appendChild(renderer.domElement);
    
        const geometry = new THREE.IcosahedronGeometry(2, 1);
        const material = new THREE.MeshBasicMaterial({ 
            color: 0x38bdf8, 
            wireframe: true 
        });
    
        const crystal = new THREE.Mesh(geometry, material);
        scene.add(crystal);
    
        camera.position.z = 5;
    
        function animate() {
            requestAnimationFrame(animate);
    
            crystal.rotation.x += 0.005;
            crystal.rotation.y += 0.005;
    
            renderer.render(scene, camera);
        }
    
        animate();
    
        window.addEventListener("resize", () => {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        });
    </script>
</body>
</html>