</HTML>
{% extends "base.html" %}

{%block title %}
Contact - Srishti Portfolio
{%endblock%}

{%block content %}
<section class="contact">
    <h2>Contact Me</h2>
    <p>Feel free to reach out!</p>
    <ul>
        {#<li>Email: <a href = 'srishtishukla781@gmail.com'>&#9993;</a></li>#}
        <li>LinkedIn: <a href = 'https://www.linkedin.com/in/srishtii/'>Srishti</a></li>
    </ul>
    <section class="contact-form">
        <h3>Send Me a Message</h3>
        <form action="srishtishukla781@gmail.com" method = 'post'>
            <textarea placeholder="Your message here..." rows="5" cols="40"></textarea>
            <button class="btn">Send</button>
        </form>    
    </section>     
{%endblock%}        