</HTML>
{% extends "base.html" %}

{%block title %}
Contact - Srishti Portfolio
{%endblock%}

{%block content %}
<section class="contact">
    <h2>Contact Me</h2>
    <p>Feel free to reach out!</p>
    <ul>
        {#<li>Email: <a href = 'srishtishukla781@gmail.com'>&#9993;</a></li>#}
        <li>Visit My<a href = 'https://www.linkedin.com/in/srishtii/'>LinkedIn</a></li>
    </ul>
    
    <form action="/send-message" method = 'POST'>
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>

        <textarea placeholder="Write your message..." required></textarea>
        
        <button type="submit">Send Message</button>
    </form>    
         
{%endblock%}        