
{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}

{% block content %}

<section class="hero">
    <h2>Hi there 👋</h2>
    <h3><span id="typing"></span></h3>
    <p>Glad you stopped by.</p>
    <p>I'm Srishti — someone who enjoys exploring how machines can 
        <strong style="color:#00ffa2">learn</strong> and
        <strong style="color:#31f709">interact</strong> with the world.
    </p>
    <p>
        Right now, I spend most of my time experimenting with <strong style="color:lawngreen">Frontend</strong>,
        <strong style="color:rgb(221, 241, 45)">machine learning</strong>, <strong style="color:aqua">computer vision</strong> , 
        and building small <b>apps</b> that turn ideas into something people can actually use.
    </p>
    <p>
        Scroll around and you'll find the things I've been building and learning along the way.
    </p>
    <a href="/projects" class="btn">View My Work</a>
</section>
{% endblock %}