
{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}

{% block content %}

<section class="hero">
    <h2>Hi there !!</h2>
    <h3><span id="typing"></span></h3>
    <div class="hero-desc">
    <p>Glad you stopped by.</p>
    <p>I'm Srishti — someone who enjoys exploring how machines can 
        <strong>learn</strong> and
        <strong>interact</strong> with the world.
    </p>
    <p>
        Right now, I spend most of my time experimenting with <strong>Frontend</strong>,
        <strong>machine learning</strong>, <strong>computer vision</strong> , 
        and building small <b>apps</b> that turn ideas into something people can actually use.
    </p>
    <p>
        Scroll around and you'll find the things I've been building and learning along the way.
    </p>
    </div>
    <a href="/projects" class="btn">View My Work</a>
</section>
{% endblock %}